<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Taginput Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      button{
        margin-right:10px;
      }
      span{
          border:1px solid grey;
          margin-right:10px;
      }
    </style>
</head>
<body>
    <div id="tag">
    <pre>{{ name }}</pre>
    <tag-input  v-model="name" ></tag-input>
    </div>

    


    <script type="text/x-template" id="tag-input-template">
    <span v-for="item in tagItems">&nbsp;{{ item  }}&nbsp;<span @click="removeTag">+</span></span>
    <input type="text" v-model="tagInput" @keypress.,="updateData"/>
    </script>
    <script src="taginput.js"></script>
</body>
</html>