<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codes | View Page</title>
        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- style--- -->
        <link rel="stylesheet" href="assets/dist/css/style.css">
        
    </head>
    <body>
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">Add some information about the album below, the author, or any other background
              context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off
              to some social networking sites or contact information.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contact</h4>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#" class="text-white">Email me</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <ion-icon name="code-slash-outline"></ion-icon>
                        <strong>Codes</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>
        <section class="code-demo pt-5 pb-5" id="code-view">
            <div class="container">
                <view-comp :compitem="snippetItems"></view-comp>
            </div>
            
            
        </section>
        <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-muted">&copy; 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>
</div>
        <button-counter></button-counter>
        
        
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>

        <script type="text/x-template" id="view-comp"> 
        <div class="row">
            <h3 class="text-center">Code Render</h3>
            <div class="col-md-6 mt-5">
                <div class="rendered-elements">
                    <h3>{{ compitem.codename }}</h3>
                    <p>{{ compitem.codelanguage }}</p>
                    <input type="text" class="form-control" placeholder="Enter Variable Name" v-for="ele in compitem.varibales" v-model="codeVariables[ele]">
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="rendered-code">
                    <h4>Code</h4>
                    <pre>
                        {{ renderTest() }}
                    </pre>
                </div>
            </div>
        </div>   
        </script>     
        <script src="test.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


        <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->
    </body>
</html>
